@import 'spec/settings/index';
@import 'spec/tools/index';
@import "~bootstrap/scss/bootstrap";
@import 'spec/index';
@import 'vendor/index';
@import '~bootstrap-select/sass/bootstrap-select';

.table > tbody > tr > td {
  vertical-align: middle;
}
.fit{
  width: 1%;
  white-space: nowrap;
}
.dataTables_wrapper
{
  overflow: visible;
  padding-bottom: 25px;
}
.modal-full {
  min-width: 900px;
  margin: auto;
  border-radius:0px;
}

.modal-full .modal-content {
  min-height: 100vh;
  border-radius:0px;
}
.sidebar-menu li.dropdown.open > .dropdown-menu {
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;
  padding-top: 8px;
}
.sidebar-menu li.dropdown.open > a {
  color: $default-success;
}
.sidebar-menu li.dropdown.open > a .icon-holder {
  color: $default-success;
}
.sidebar-menu li a:hover .icon-holder, .sidebar-menu li a:focus .icon-holder {
  color: $default-success;
}
.sidebar-menu li a:hover, .sidebar-menu li a:focus {
  color: $default-success;
  text-decoration: none;
}
.sidebar-menu .sidebar-link.actived {
  background: $default-success;
  color: $default-white;
}
.sidebar-menu .sidebar-link.actived::before {
  background: $default-success;
  border-radius: 50%;
  content: "";
  display: block;
  height: 41px;
  left: -9px;
  position: absolute;
  top: 0;
  width: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-menu > li.dropdown ul.dropdown-menu > li > a:hover {
  background: $grey-500;
  color:$default-white;
}
.sidebar-menu .sidebar-link::before {
  background: $default-white;
  border-radius: 50%;
  content: "";
  display: block;
  height: 41px;
  left: -9px;
  position: absolute;
  top: 0;
  width: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sidebar-menu > li.dropdown ul.dropdown-menu > li > a:hover::before {
  background: $grey-500;
  color:$default-white;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: $gray-600;
}
